In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("/content/scb_processed_results.csv")
df = df[df.columns[1:]]

In [ ]:
df.head()

   clone_pair_id  facer_prediction  nil_prediction  code_bert_prediction
0    clone0.java                 1               0                     0
1    clone1.java                 0               0                     1
2   clone10.java                 0               0                     1
3  clone100.java                 1               0                     1
4  clone101.java                 1               0                     1

In [ ]:
fcn = {}
for f in [0,1]:
  for cb in [0,1]:
    for nil in [0,1]:
      with open(f'/content/drive/MyDrive/code-clone-detection-paper/exhaustive-count/{f}{cb}{nil}.txt', 'w') as file:
        clone_ids = df.loc[(df["facer_prediction"] == f) & (df["code_bert_prediction"] == cb) & (df["nil_prediction"] == nil), "clone_pair_id"].tolist()
        file.write("\n".join(clone_ids))
        fcn[f'{f}{cb}{nil}'] = len(clone_ids)

In [ ]:
fcn

{'000': 45,
 '001': 9,
 '010': 255,
 '011': 48,
 '100': 103,
 '101': 11,
 '110': 470,
 '111': 59}

In [ ]:
df.loc[(df["clone_pair_id"] == "clone16.java")]

   clone_pair_id  facer_prediction  code_bert_prediction  nil_prediction
16  clone16.java                 1                     1               1

In [ ]:
df.loc[(df["facer_prediction"] == 1) & (df["code_bert_prediction"] == 1) & (df["nil_prediction"] == 0), "clone_pair_id"]

3      clone100.java
4      clone101.java
7      clone104.java
8      clone105.java
10     clone107.java
           ...
995    clone995.java
996    clone996.java
997    clone997.java
998    clone998.java
999    clone999.java
Name: clone_pair_id, Length: 470, dtype: object

In [ ]:
# a = df.loc[(df["facer_prediction"] == 1) & (df["code_bert_prediction"] == 1) & (df["nil_prediction"] == 0), "clone_pair_id"]
a.tolist()

['clone100.java',
 'clone101.java',
 'clone104.java',
 'clone105.java',
 'clone107.java',
 'clone108.java',
 'clone109.java',
 'clone117.java',
 'clone118.java',
 'clone119.java',
 'clone120.java',
 'clone121.java',
 'clone122.java',
 'clone123.java',
 'clone13.java',
 'clone130.java',
 'clone131.java',
 'clone132.java',
 'clone134.java',
 'clone136.java',
 'clone138.java',
 'clone139.java',
 'clone14.java',
 'clone140.java',
 'clone143.java',
 'clone149.java',
 'clone15.java',
 'clone151.java',
 'clone152.java',
 'clone153.java',
 'clone154.java',
 'clone155.java',
 'clone156.java',
 'clone157.java',
 'clone158.java',
 'clone162.java',
 'clone167.java',
 'clone168.java',
 'clone169.java',
 'clone170.java',
 'clone171.java',
 'clone172.java',
 'clone173.java',
 'clone174.java',
 'clone175.java',
 'clone179.java',
 'clone18.java',
 'clone180.java',
 'clone182.java',
 'clone184.java',
 'clone185.java',
 'clone186.java',
 'clone187.java',
 'clone188.java',
 'clone189.java',
 'clone19.java',
 'clone191.java',
 'clone192.java',
 'clone195.java',
 'clone196.java',
 'clone198.java',
 'clone199.java',
 'clone2.java',
 'clone20.java',
 'clone200.java',
 'clone211.java',
 'clone214.java',
 'clone216.java',
 'clone217.java',
 'clone218.java',
 'clone219.java',
 'clone22.java',
 'clone220.java',
 'clone221.java',
 'clone222.java',
 'clone24.java',
 'clone248.java',
 'clone250.java',
 'clone251.java',
 'clone252.java',
 'clone256.java',
 'clone258.java',
 'clone259.java',
 'clone273.java',
 'clone275.java',
 'clone277.java',
 'clone279.java',
 'clone282.java',
 'clone283.java',
 'clone288.java',
 'clone290.java',
 'clone292.java',
 'clone3.java',
 'clone30.java',
 'clone301.java',
 'clone306.java',
 'clone307.java',
 'clone31.java',
 'clone312.java',
 'clone313.java',
 'clone314.java',
 'clone316.java',
 'clone318.java',
 'clone319.java',
 'clone32.java',
 'clone320.java',
 'clone322.java',
 'clone326.java',
 'clone327.java',
 'clone328.java',
 'clone330.java',
 'clone331.java',
 'clone332.java',
 'clone333.java',
 'clone339.java',
 'clone340.java',
 'clone341.java',
 'clone342.java',
 'clone344.java',
 'clone347.java',
 'clone348.java',
 'clone349.java',
 'clone350.java',
 'clone356.java',
 'clone361.java',
 'clone363.java',
 'clone367.java',
 'clone368.java',
 'clone369.java',
 'clone370.java',
 'clone372.java',
 'clone373.java',
 'clone374.java',
 'clone376.java',
 'clone379.java',
 'clone380.java',
 'clone381.java',
 'clone382.java',
 'clone383.java',
 'clone393.java',
 'clone396.java',
 'clone397.java',
 'clone401.java',
 'clone405.java',
 'clone406.java',
 'clone407.java',
 'clone409.java',
 'clone410.java',
 'clone411.java',
 'clone413.java',
 'clone414.java',
 'clone415.java',
 'clone416.java',
 'clone419.java',
 'clone42.java',
 'clone420.java',
 'clone421.java',
 'clone424.java',
 'clone425.java',
 'clone426.java',
 'clone427.java',
 'clone428.java',
 'clone429.java',
 'clone431.java',
 'clone432.java',
 'clone434.java',
 'clone436.java',
 'clone437.java',
 'clone438.java',
 'clone439.java',
 'clone440.java',
 'clone444.java',
 'clone445.java',
 'clone446.java',
 'clone447.java',
 'clone448.java',
 'clone449.java',
 'clone450.java',
 'clone451.java',
 'clone452.java',
 'clone454.java',
 'clone456.java',
 'clone458.java',
 'clone460.java',
 'clone461.java',
 'clone463.java',
 'clone464.java',
 'clone467.java',
 'clone468.java',
 'clone469.java',
 'clone470.java',
 'clone471.java',
 'clone472.java',
 'clone473.java',
 'clone474.java',
 'clone476.java',
 'clone478.java',
 'clone479.java',
 'clone481.java',
 'clone482.java',
 'clone483.java',
 'clone484.java',
 'clone486.java',
 'clone487.java',
 'clone490.java',
 'clone491.java',
 'clone497.java',
 'clone499.java',
 'clone5.java',
 'clone500.java',
 'clone501.java',
 'clone502.java',
 'clone506.java',
 'clone508.java',
 'clone509.java',
 'clone51.java',
 'clone511.java',
 'clone514.java',
 'clone516.java',
 'clone519.java',
 'clone521.java',
 'clone522.java',
 'clone523.java',
 'clone525.java',
 'clone528.java',
 'clone529.java',
 'clone53.java',
 'clone530.java',
 'clone531.java',
 'clone534.java',
 'clone536.java',
 'clone537.java',
 'clone540.java',
 'clone542.java',
 'clone543.java',
 'clone544.java',
 'clone545.java',
 'clone546.java',
 'clone55.java',
 'clone553.java',
 'clone56.java',
 'clone563.java',
 'clone564.java',
 'clone566.java',
 'clone567.java',
 'clone57.java',
 'clone574.java',
 'clone58.java',
 'clone581.java',
 'clone582.java',
 'clone583.java',
 'clone587.java',
 'clone589.java',
 'clone59.java',
 'clone590.java',
 'clone593.java',
 'clone596.java',
 'clone599.java',
 'clone6.java',
 'clone604.java',
 'clone606.java',
 'clone607.java',
 'clone608.java',
 'clone610.java',
 'clone611.java',
 'clone62.java',
 'clone621.java',
 'clone622.java',
 'clone623.java',
 'clone624.java',
 'clone626.java',
 'clone627.java',
 'clone628.java',
 'clone629.java',
 'clone63.java',
 'clone630.java',
 'clone631.java',
 'clone632.java',
 'clone641.java',
 'clone642.java',
 'clone643.java',
 'clone644.java',
 'clone645.java',
 'clone646.java',
 'clone647.java',
 'clone648.java',
 'clone65.java',
 'clone655.java',
 'clone656.java',
 'clone658.java',
 'clone662.java',
 'clone663.java',
 'clone664.java',
 'clone665.java',
 'clone666.java',
 'clone669.java',
 'clone670.java',
 'clone671.java',
 'clone672.java',
 'clone673.java',
 'clone674.java',
 'clone675.java',
 'clone676.java',
 'clone677.java',
 'clone678.java',
 'clone68.java',
 'clone680.java',
 'clone681.java',
 'clone685.java',
 'clone692.java',
 'clone696.java',
 'clone697.java',
 'clone698.java',
 'clone699.java',
 'clone7.java',
 'clone70.java',
 'clone700.java',
 'clone716.java',
 'clone72.java',
 'clone721.java',
 'clone725.java',
 'clone727.java',
 'clone728.java',
 'clone729.java',
 'clone73.java',
 'clone730.java',
 'clone731.java',
 'clone732.java',
 'clone733.java',
 'clone734.java',
 'clone74.java',
 'clone741.java',
 'clone742.java',
 'clone746.java',
 'clone748.java',
 'clone749.java',
 'clone75.java',
 'clone750.java',
 'clone751.java',
 'clone752.java',
 'clone756.java',
 'clone757.java',
 'clone758.java',
 'clone76.java',
 'clone764.java',
 'clone765.java',
 'clone766.java',
 'clone767.java',
 'clone77.java',
 'clone771.java',
 'clone772.java',
 'clone773.java',
 'clone776.java',
 'clone777.java',
 'clone779.java',
 'clone78.java',
 'clone782.java',
 'clone783.java',
 'clone784.java',
 'clone785.java',
 'clone793.java',
 'clone794.java',
 'clone796.java',
 'clone797.java',
 'clone798.java',
 'clone8.java',
 'clone800.java',
 'clone801.java',
 'clone803.java',
 'clone804.java',
 'clone806.java',
 'clone807.java',
 'clone81.java',
 'clone810.java',
 'clone811.java',
 'clone817.java',
 'clone818.java',
 'clone819.java',
 'clone82.java',
 'clone83.java',
 'clone831.java',
 'clone832.java',
 'clone833.java',
 'clone840.java',
 'clone841.java',
 'clone847.java',
 'clone848.java',
 'clone849.java',
 'clone85.java',
 'clone852.java',
 'clone862.java',
 'clone863.java',
 'clone864.java',
 'clone871.java',
 'clone877.java',
 'clone878.java',
 'clone879.java',
 'clone883.java',
 'clone885.java',
 'clone886.java',
 'clone889.java',
 'clone890.java',
 'clone892.java',
 'clone893.java',
 'clone895.java',
 'clone897.java',
 'clone900.java',
 'clone902.java',
 'clone903.java',
 'clone905.java',
 'clone910.java',
 'clone911.java',
 'clone912.java',
 'clone917.java',
 'clone919.java',
 'clone920.java',
 'clone921.java',
 'clone926.java',
 'clone930.java',
 'clone932.java',
 'clone935.java',
 'clone936.java',
 'clone939.java',
 'clone94.java',
 'clone943.java',
 'clone944.java',
 'clone945.java',
 'clone947.java',
 'clone949.java',
 'clone95.java',
 'clone950.java',
 'clone956.java',
 'clone96.java',
 'clone963.java',
 'clone964.java',
 'clone965.java',
 'clone966.java',
 'clone967.java',
 'clone968.java',
 'clone969.java',
 'clone97.java',
 'clone970.java',
 'clone971.java',
 'clone972.java',
 'clone973.java',
 'clone974.java',
 'clone975.java',
 'clone977.java',
 'clone978.java',
 'clone979.java',
 'clone98.java',
 'clone980.java',
 'clone981.java',
 'clone982.java',
 'clone985.java',
 'clone986.java',
 'clone987.java',
 'clone988.java',
 'clone989.java',
 'clone99.java',
 'clone990.java',
 'clone991.java',
 'clone992.java',
 'clone993.java',
 'clone994.java',
 'clone995.java',
 'clone996.java',
 'clone997.java',
 'clone998.java',
 'clone999.java']

In [ ]:
code_bert_df = pd.read_csv('scb_code_bert_results.csv')
facer_df = pd.read_csv('scb_facer_results.csv')
nil_df = pd.read_csv('scb_nil_results.csv')

In [ ]:
# dir_A,file_A,start_line_A,end_line_A,dir_B,file_B,start_line_B,end_line_B
nil_df.columns = ["dir_A","file_A","start_line_A","end_line_A","dir_B","file_B","start_line_B","end_line_B"]
nil_df = nil_df[["file_A","start_line_A","end_line_A","file_B","start_line_B","end_line_B"]]
nil_df = nil_df[nil_df["file_A"] == nil_df["file_B"]]

In [ ]:
nil_df = nil_df[['file_A']]
nil_df['prediction'] = [1]*len(nil_df)

In [ ]:
scb_ground_df = pd.read_csv("scb_ground.csv")

In [ ]:
facer_df["file"] = scb_ground_df["class_ids"]

In [ ]:
facer_df = facer_df[["file", "is_clone"]]

In [ ]:
print(f"count Code Bert: {len(code_bert_df)}")
print(f"count FACER: {len(facer_df)}")
print(f"count NIL: {len(nil_df)}")

count Code Bert: 1000
count FACER: 1000
count NIL: 127

In [ ]:
clone_ids = [f"Clone{idx}.java" for idx in range(1000)]

In [ ]:
nil_predictions = [0]*1000
for idx, clone_id  in enumerate(clone_ids):
  if clone_id in nil_df["file_A"].unique():
    nil_predictions[idx] = 1

In [ ]:
nil_df = pd.DataFrame(np.array([clone_ids, nil_predictions]).T, columns=["file", "prediction"])

In [ ]:
facer_df["file"] = facer_df["file"].map(lambda x: x.lower())
nil_df["file"] = nil_df["file"].map(lambda x: x.lower())
code_bert_df["file"] = code_bert_df["file"].map(lambda x: x.lower())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
print(f"count Code Bert: {len(code_bert_df)}")
print(f"count FACER: {len(facer_df)}")
print(f"count NIL: {len(nil_df)}")

count Code Bert: 1000
count FACER: 1000
count NIL: 1000

In [ ]:
nil_df.head()

          file prediction
0  clone0.java          0
1  clone1.java          0
2  clone2.java          0
3  clone3.java          0
4  clone4.java          1

In [ ]:
code_bert_df.head()

            file  prediction
0  clone166.java           1
1  clone610.java           1
2  clone177.java           0
3  clone817.java           1
4  clone276.java           1

In [ ]:
facer_df.head()

          file  is_clone
0  clone0.java         1
1  clone1.java         0
2  clone2.java         1
3  clone3.java         1
4  clone4.java         1

In [ ]:
def sorter(key):
  k = key.replace("clone", "")
  k = k.replace(".java", "")
  return int(k)

In [ ]:
facer_df["class_idx"] = facer_df["file"].map(sorter)
nil_df["class_idx"] = nil_df["file"].map(sorter)
code_bert_df["class_idx"] = code_bert_df["file"].map(sorter)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
facer_df.sort_values("class_idx")
nil_df.sort_values("class_idx")
code_bert_df.sort_values("class_idx")

              file  prediction  class_idx
80     clone0.java           0          0
143    clone1.java           1          1
874    clone2.java           1          2
296    clone3.java           1          3
148    clone4.java           1          4
..             ...         ...        ...
945  clone995.java           1        995
785  clone996.java           1        996
376  clone997.java           1        997
408  clone998.java           1        998
31   clone999.java           1        999

[1000 rows x 3 columns]

In [ ]:
combined_results = pd.DataFrame(data=np.zeros((1000, 4)), columns=["clone_pair_id", "facer_prediction", "code_bert_prediction", "nil_prediction"])

In [ ]:
combined_results["clone_pair_id"] = facer_df["file"]
combined_results["facer_prediction"] = facer_df["is_clone"]
combined_results["nil_prediction"] = nil_df["prediction"]
combined_results["code_bert_prediction"] = code_bert_df["prediction"]

In [ ]:
combined_results.to_csv("scb_processed_results.csv")

In [ ]:
combined_results

     clone_pair_id  facer_prediction  code_bert_prediction nil_prediction
0      clone0.java                 1                     1              0
1      clone1.java                 0                     1              0
2      clone2.java                 1                     0              0
3      clone3.java                 1                     1              0
4      clone4.java                 1                     1              1
..             ...               ...                   ...            ...
995  clone995.java                 1                     1              0
996  clone996.java                 1                     1              0
997  clone997.java                 1                     1              0
998  clone998.java                 1                     1              0
999  clone999.java                 1                     0              0

[1000 rows x 4 columns]

In [ ]:
y_facer = set(combined_results.loc[combined_results["facer_prediction"] == 1, "clone_pair_id"].unique())
n_facer = set(combined_results.loc[combined_results["facer_prediction"] == 0, "clone_pair_id"].unique())

In [ ]:
y_nil = set(combined_results.loc[combined_results["nil_prediction"] == '1', "clone_pair_id"].unique())
n_nil = set(combined_results.loc[combined_results["nil_prediction"] == '0', "clone_pair_id"].unique())

In [ ]:
y_code_bert = set(combined_results.loc[combined_results["code_bert_prediction"] == 1, "clone_pair_id"].unique())
n_code_bert = set(combined_results.loc[combined_results["code_bert_prediction"] == 0, "clone_pair_id"].unique())

In [ ]:
total_coverage = set.union(set.union(y_nil, y_facer), y_code_bert)

In [ ]:
print(f"Total Coverage using all the tools: {len(total_coverage)}")

Total Coverage using all the tools: 955

In [ ]:
facer_only = y_facer.difference(set.union(y_code_bert, y_nil))
print(f"Only detected by FACER: {len(facer_only)}")

Only detected by FACER: 104

In [ ]:
nil_only = y_nil.difference(set.union(y_code_bert, y_facer))
print(f"Only detected by NIL: {len(nil_only)}")

Only detected by NIL: 6

In [ ]:
code_bert_only = y_code_bert.difference(set.union(y_nil, y_facer))
print(f"Only detected by CodeBERT: {len(code_bert_only)}")

Only detected by CodeBERT: 255

In [ ]:
deteced_by_all = set.intersection(set.intersection(y_facer, y_nil), y_code_bert)
print(f"Detected by All: {len(deteced_by_all)}")

Detected by All: 57

In [ ]:
nil_facer = set.union(y_nil, y_facer)
print(f"NIL with FACER: {len(nil_facer)}")

NIL with FACER: 700

In [ ]:
facer_codebert = set.union(y_code_bert, y_facer)
print(f"CodeBERT with FACER: {len(facer_codebert)}")

CodeBERT with FACER: 949

In [ ]:
nil_codebert = set.union(y_code_bert, y_nil)
print(f"CodeBERT with NIL: {len(nil_codebert)}")

CodeBERT with NIL: 851

In [ ]:
print(f"FACER Total: {len(y_facer)}")
print(f"NIL Total: {len(y_nil)}")
print(f"CodeBERT Total: {len(y_code_bert)}")

FACER Total: 643
NIL Total: 127
CodeBERT Total: 832

##Past

In [ ]:
df_nil = pd.read_csv("/content/semcloneNIL.csv")
df_code_bert = pd.read_csv("/content/code_bert_predictions_semantic_clone_bench_java.csv")

In [ ]:
df_nil.columns

Index(['Stand Alone Clones', 'Clone538.java', '9', '29',
       'Stand Alone Clones.1', 'Clone538.java.1', '31', '41'],
      dtype='object')

In [ ]:
df_code_bert.columns

Index(['file', 'prediction'], dtype='object')

In [ ]:
df_code_bert = df_code_bert[df_code_bert["prediction"] == 1]

In [ ]:
# dir_A,file_A,start_line_A,end_line_A,dir_B,file_B,start_line_B,end_line_B
df_nil.columns = ["dir_A","file_A","start_line_A","end_line_A","dir_B","file_B","start_line_B","end_line_B"]

In [ ]:
df_nil = df_nil[["file_A","start_line_A","end_line_A","file_B","start_line_B","end_line_B"]]

In [ ]:
true_positives = df_nil[df_nil["file_A"] == df_nil["file_B"]]

In [ ]:
true_positives = true_positives[['file_A']]

In [ ]:
true_positives.columns = ['file']

In [ ]:
true_positives['prediction'] = [1]*len(true_positives)

In [ ]:
true_positives = true_positives.sort_values(by="file")

In [ ]:
detected_nil = set(true_positives['file'])
detected_code_bert = set(df_code_bert['file'])

In [ ]:
detected_nil_lst = list(detected_nil)
detected_nil_lst.sort()

In [ ]:
detected_code_bert_lst = list(detected_code_bert)
detected_code_bert_lst.sort()

In [ ]:
'Clone0.java' in detected_code_bert

False

In [ ]:
for a in range(1000):
  if not f'Clone{a}.java' in detected_code_bert:
    print(f'Clone{a}.java')

In [ ]:
print(f"Detected by NIL: {len(detected_nil)}")
print(f"Detected by Code Bert: {len(detected_code_bert)}")

overlap = len(detected_nil.intersection(detected_code_bert))
print(f"Overlap: {overlap}")
nil_only = len(detected_nil.difference(detected_code_bert))
print(f"Detected By NIL Only: {nil_only}")
code_bert_only = len(detected_code_bert.difference(detected_nil))
print(f"Detected By Code Bert Only: {code_bert_only}")

print(f"Total Coverage: {overlap + nil_only + code_bert_only}")

Detected by NIL: 127
Detected by Code Bert: 832
Overlap: 107
Detected By NIL Only: 20
Detected By Code Bert Only: 725
Total Coverage: 852

##BCE

In [ ]:
# !rm -rf bigclonebench
# !mkdir bigclonebench

In [ ]:
opening = '{'
closing = '}'
for idx, method in methods.items():
  with open(f"/content/bigclonebench/{idx}.java", 'w') as file:
    file.write(f"public class Fun{idx}{opening}\n{method}\n{closing}")

In [ ]:
!zip -r bigclonebench.zip "/content/bigclonebench/"

In [ ]:
bce_results = pd.read_csv("/content/bce.csv")

In [ ]:
bce_results.columns = ["dir_A","file_A","start_line_A","end_line_A","dir_B","file_B","start_line_B","end_line_B"]

In [ ]:
bce_results = bce_results[["file_A","start_line_A","end_line_A","file_B","start_line_B","end_line_B"]]

In [ ]:
bce_results["clone1"] = bce_results["file_A"].map(lambda x: x.split('.')[0])
bce_results["clone2"] = bce_results["file_B"].map(lambda x: x.split('.')[0])

In [ ]:
bce_clone_results = bce_results[["clone1", "clone2"]]

In [ ]:
["label"] = [1]*len(bce_clone_results)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
bce_clone_results.head()

     clone1    clone2  label
0  13433285  19934218      1
1  10878062   6844412      1
2   7761195  10318835      1
3    483411    386013      1
4   1760355   1760352      1

In [ ]:
bce_test = pd.read_csv("/content/test.txt", sep="\t", header=None)
bce_test.columns = ["clone1", "clone2", "label"]

In [ ]:
bce_test.head()

     clone1    clone2  label
0   2381663   4458076      0
1   3809087  15757836      0
2   6987642   4921631      0
3  21316706   4168534      0
4   4798332   1473212      0

In [ ]:
%%capture
import nltk
nltk.download('words')

In [ ]:
english_vocab = set(w.lower() for w in nltk.corpus.words.words())

In [ ]:
A = 'qweasyfghj'
for a in A:
  for b in A:
    w = f"lo{a}{b}y"
    if w in english_vocab:
      print(w)

lowly
loopy
loppy
lolly
locky